{
  "[vue]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
 },
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[php]": {
    "editor.defaultFormatter": "persoderlind.vscode-phpcbf"
  },
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[yaml]": {
    "editor.defaultFormatter": "redhat.vscode-yaml"
  },
  "auto-close-tag.excludedTags": [
    "area",
    "base",
    "br",
    "col",
    "command",
    "embed",
    "hr",
    "img",
    "input",
    "keygen",
    "link",
    "meta",
    "param",
    "source",
    "track",
    "wbr",
    "cfabort",
    "cfapplication",
    "cfargument",
    "cfassociate",
    "cfbreak",
    "cfchartdata",
    "cfcollection",
    "cfcontent",
    "cfcontinue",
    "cfcookie",
    "cfdirectory",
    "cfdump",
    "cfelse",
    "cfelseif",
    "cferror",
    "cfexecute",
    "cfexit",
    "cffile",
    "cfflush",
    "cfheader",
    "cfhttpparam",
    "cfimage",
    "cfimport",
    "cfinclude",
    "cfindex",
    "cfinput",
    "cfinvokeargument",
    "cflocation",
    "cflog",
    "cfloginuser",
    "cflogout",
    "cfmailparam",
    "cfobject",
    "cfobjectcache",
    "cfparam",
    "cfpop",
    "cfprocessingdirective",
    "cfprocparam",
    "cfprocresult",
    "cfproperty",
    "cfqueryparam",
    "cfregistry",
    "cfreportparam",
    "cfrethrow",
    "cfreturn",
    "cfschedule",
    "cfsearch",
    "cfset",
    "cfsetting",
    "cfthrow",
    "cfwddx"
  ],
  "csharp.suppressDotnetInstallWarning": true,
  "diffEditor.ignoreTrimWhitespace": false,
  "editor.accessibilitySupport": "off",
  "editor.colorDecorators": false,
  "editor.fontFamily": "'Source Code Pro', monospace",
  "editor.fontSize": 14,
  "editor.formatOnPaste": false,
  "editor.inlineSuggest.enabled": true,
  "editor.matchBrackets": "never",
  "editor.multiCursorModifier": "ctrlCmd",
  "editor.occurrencesHighlight": false,
  "editor.selectionHighlight": false,
  "editor.snippetSuggestions": "top",
  "editor.suggestSelection": "first",
  "emmet.includeLanguages": {
    "javascript": "javascriptreact",
    "vue-html": "html"
  },
  "emmet.syntaxProfiles": {
    "javascript": "jsx",
    "xml": {
      "attr_quotes": "single"
    }
  },
  "explorer.openEditors.visible": 0,
  "files.exclude": {
    "**/.classpath": true,
    "**/.factorypath": true,
    "**/.project": true,
    "**/.settings": true
  },
  "git.confirmSync": false,
  "intelephense.diagnostics.undefinedConstants": false,
  "intelephense.diagnostics.undefinedFunctions": false,
  "intelephense.diagnostics.undefinedSymbols": false,
  "intelephense.diagnostics.undefinedTypes": false,
  "intelephense.diagnostics.undefinedVariables": false,
  "material-icon-theme.activeIconPack": "angular",
  "material-icon-theme.files.associations": {},
  "material-icon-theme.folders.associations": {},
  "material-icon-theme.folders.color": "#90a4ae",
  "material-icon-theme.folders.theme": "specific",
  "material-icon-theme.hidesExplorerArrows": false,
  "material-icon-theme.languages.associations": {},
  "material-icon-theme.opacity": 1,
  "materialTheme.accent": "Teal",
  "php.suggest.basic": false,
  "php.validate.enable": false,
  "php.validate.executablePath": "/usr/bin/php",
  "php.validate.run": "onSave",
  "phpcbf.standard": "WordPress",
  "phpcs.standard": "WordPress-Extra",
  "prettier.singleQuote": true,
  "prettier.tabWidth": 4,
  "prettier.useTabs": true,
  "redhat.telemetry.enabled": false,
  "search.useIgnoreFiles": false,
  "security.workspace.trust.untrustedFiles": "open",
  "sync.autoDownload": false,
  "sync.autoUpload": false,
  "sync.gist": "8d9ab4204b56dee0de7960ec7c18b266",
  "terminal.integrated.env.osx": {
    "FIG_NEW_SESSION": "1"
  },
  "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
  "window.newWindowDimensions": "inherit",
  "window.openFoldersInNewWindow": "on",
  "workbench.colorCustomizations": {
    "[Material Theme]": {
      "activityBar.activeBorder": "#80CBC4",
      "activityBarBadge.background": "#80CBC4",
      "breadcrumb.activeSelectionForeground": "#80CBC4",
      "editor.findMatchBorder": "#80CBC4",
      "editorSuggestWidget.highlightForeground": "#80CBC4",
      "editorWidget.border": "#80CBC4",
      "editorWidget.resizeBorder": "#80CBC4",
      "list.activeSelectionForeground": "#80CBC4",
      "list.highlightForeground": "#80CBC4",
      "list.inactiveSelectionForeground": "#80CBC4",
      "menu.selectionForeground": "#80CBC4",
      "menubar.selectionForeground": "#80CBC4",
      "notificationLink.foreground": "#80CBC4",
      "panelTitle.activeBorder": "#80CBC4",
      "pickerGroup.foreground": "#80CBC4",
      "progressBar.background": "#80CBC4",
      "scrollbarSlider.activeBackground": "#80CBC450",
      "selection.background": "#80CBC440",
      "settings.headerForeground": "#80CBC4",
      "settings.modifiedItemIndicator": "#80CBC4",
      "statusBarItem.remoteBackground": "#80CBC4",
      "tab.activeBorder": "#80CBC4",
      "textLink.foreground": "#80CBC4"
    }
  },
  "workbench.colorTheme": "Material Theme Ocean",
  "workbench.editor.enablePreviewFromQuickOpen": false,
  "workbench.editor.highlightModifiedTabs": true,
  "workbench.iconTheme": "material-icon-theme",
  "workbench.startupEditor": "newUntitledFile",
  "xmlTools.xmlFormatterImplementation": "classic",
  "workbench.editor.untitled.hint": "hidden"
}